.mainContainer {
    color: #ffffff;
}
.title {
    font-family: 'Dancing Script', cursive;
	font-size:9.6rem;
	color: goldenrod;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links button {
    font-size: 4.3rem;
    margin-bottom: 8%;
    padding: 5px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    background: none;
    color: #ffffff;
    border: 1px solid black;
    border-radius: 9px;
    background: linear-gradient(to right, goldenrod 50%, black 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    outline: none;
  
}
.links button:hover {
    background-position: left bottom;
    border: 1px solid black;

}