.grid {
    display: grid;
    grid-template-columns: repeat(25,20px);
}
.cell {
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    
}
.celltoggleBackground {
    width: 20px;
    height: 20px;
    background-color: goldenrod;
    border: 1px solid #000000;
}