.gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.dark-mode .gridContainer {
    color: goldenrod;
}
.gridContainer .header {
    font-family: 'Dancing Script', cursive;
	font-size:3.6rem;
    color: goldenrod;
    height: 40px;
}
.gridContainer .close {
    display: flex;
    justify-content: flex-end !important;
    width: 100%;
    position: absolute;
    top: 20px;
    width: 500px;
}
.gridContainer .close button {
    width: 30px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;
}
.gridContainer .close button:hover {
    border: 2px solid goldenrod;
}
.gridContainer button {
    width: 110px;
    background: none;
    color: goldenrod;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 13px;
    transition: .3s;
    outline: none;
    margin: 20px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
}
.dark-mode .gridContainer button {
    border: 2px solid black;
    font-weight: 600;
}
.gridContainer button:hover{
    border: 2px solid goldenrod;
}
.grid {
    display: grid;
    grid-template-columns: repeat(25,20px);
}
.cell {
    width: 20px;
    height: 20px;
    border: 1px solid #303634;
    cursor: pointer;
}
.celltoggleBackground {
    width: 20px;
    height: 20px;
    background-color: goldenrod;
    border: 1px solid #303634;
    cursor: pointer;
}
